template/icons/ALLE.png
template/icons/FROST.png
template/icons/GEWITTER.png
template/icons/GLATTEIS.png
template/icons/HITZE.png
template/icons/NEBEL.png
template/icons/REGEN.png
template/icons/SCHNEE.png
template/icons/STURM.png
template/icons/TAUWETTER.png
template/icons/UV.png
